<div class="header">
    <div class="container">
        <div class="logo"><a routerLink="/view">DevExtreme</a></div>
        <div class="title"><h2>Demo</h2></div>
        <div class="navbar">
            <ul>
                <li><a routerLink="/view">View</a></li>
                <li><a routerLink="/add/0">Add</a></li>
                <li><a routerLink="/form">Dynamic Form</a></li>
                <li>
                    <dx-drop-down-button
                        text="Data-Grid"
                        icon="datafield"
                        [items]="actions" 
                        keyExpr="id" 
                        displayExpr="text"
                        (onItemClick)="goToDataGrid($event)">
                    </dx-drop-down-button>
                </li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
    
</div>